body {
  background-color: var(--mantine-color-dark-8) !important;
}

.list-element {
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  border-radius: var(--mantine-radius-default);
}

.list-element-hover {
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  background-color: var(--mantine-color-default-hover) !important;
}
