.tooltip {
  background: rgba(0, 0, 0, 0.9);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  max-width: 320px;
  font-size: 0.85rem;
  margin: 0;
  padding: 6px;
  z-index: 999;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  line-height: 130%;
  overflow-wrap: normal;
}

.tooltip a {
    text-decoration: none;
}

.tooltip a:hover {
    text-decoration: underline;
}

.tooltip table {
    border-spacing: 0;
    border-collapse: collapse;
}

.tooltip td, .tooltip th {
    font-family: Verdana, sans-serif;
    font-size: 12px;
    line-height: 17px;
    color: white;
}

.tooltip th {
    padding: 3px;
}

.tooltip b {
    font-size: 14px;
    line-height: 19px;
    font-weight: normal;
}

.tooltip div.indent {
    padding-left: .6em;
}

.tooltip td th, .tooltip td td {
    background: none;
}

.tooltip td th {
    padding: 0 0 0 4em;
    text-align: right;
    font-weight: normal;
}

.tooltip td td {
    padding: 0;
}

.tooltip p {
    position: absolute;
    left: -44px;
    top: -1px;
    width: 44px;
    height: 44px;
    background: 4px 4px no-repeat;
    margin: 0;
    padding: 0;
}

.tooltip p div {
    width: 44px;
    height: 44px;
    background-image: url(../images/icon_border_medium.png);
}

.tooltip table.shrink b {
    font-size: 12px;
    line-height: 15px;
}

.tooltip table.shrink td, .tooltip table.shrink th {
    font-size: 10px;
    line-height: 14px;
}

.q5 {
  color: #ff8000 !important;
}
.q4 {
  color: #c47af5 !important;
}
.q3 {
  color: #389cff !important;
}
.q2 {
  color: #1eff00 !important;
}
.q1 {
  color: #f0f0f0 !important;
}
.q0 {
  color: #b0b0b0 !important;
}

.q0 {
  color: #b0b0b0 !important;
}

.q {
    color: #ffd100 !important;
}

a {
  color: inherit;
}
