body {
  background-color: var(--mantine-color-dark-8) !important;
}

.mantine-Table-tr {
  border-radius: 5px;
}

.mantine-Table-tr:hover {
  background-color: var(--mantine-color-default-hover);
}

.item-list-element {
  user-select: none;
  cursor: pointer;
  border-radius: 5px;
}

.item-list-element:hover {
  background-color: var(--mantine-color-default-hover);
}

.item-list-element-delete {
  user-select: none;
  cursor: pointer;
  border-radius: 5px;
}

.item-list-element-delete:hover {
  background-color: #4d3030;
}
