name: All
on:
  push:
    branches: main
  pull_request:
    branches: main

jobs:
  frontend:
    name: Check frontend
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: "frontend"
    steps:
      - name: Clone repository
        uses: actions/checkout@v4
      - name: Install Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x
      - name: Install dependencies
        run: "deno install"
      - name: Formatting
        continue-on-error: true
        run: "deno fmt --check src"
      - name: Types
        run: "deno check src"
  backend:
    name: Check backend
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: "backend"
    steps:
      - name: Clone repository
        uses: actions/checkout@v4
      - name: Install Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x
      - name: Install dependencies
        run: "deno install"
      - name: Formatting
        continue-on-error: true
        run: "deno fmt --check src"
      - name: Types
        run: "deno check src"
  build-and-push-image:
    name: Build and push
    if: github.ref == 'refs/heads/main'
    needs: [frontend, backend]
    runs-on: ubuntu-latest
    env:
      REGISTRY: ghcr.io
      IMAGE_NAME: ${{ github.repository }}
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@v6
        with:
          tag: "${{ github.repository }}:latest"
          context: .
          push: true
